<% content_for :header do -%>
	<%= stylesheet_link_tag "reverb" %>
<% end -%>
<div class="Header">
	<div class="u-width-wrapper u-centered">
		<div class="centerer u-centered">
			<h1 class="Header-logo">Gearo Worship</h1>
			<input type="text" class="Header-input" placeholder="Bon Jovi">
		</div>
	</div>
</div>
