<a href="{{url}}" class="listing">
  <div class="listing-image">
    <img src="{{photo_url}}">
  </div><div class="listing-data">
      <h3>{{title}}</h3>
      <p>{{year}}</p>
      <p><b>condition:</b> {{condition}}</p>
      <p class='listing-data-price'>{{price_fmt}}</p>
  </div>
</a>
