<div class="listing">
  <div class="listing-image">
    <img src="{{photo_url}}">
  </div>
  <ul class="listing-data">
    <li>
      <b>{{title}}</b>
    </li>
    <li>
      <b>Make</b>: {{make}}
    </li>
    <li>
      <b>Model</b>: {{model}}
    </li>
    <li>
      <b>Year</b>: {{year}}
    </li>
    <li>
      <b>Condition</b>: {{condition}}
    </li>
    <li>
      <b>Description</b>: {{{description_preview}}}
    </li>
  </div>
</div>
