
body {
	margin: 0;
	font-family: "PT Sans","Arial",sans-serif;
	background-color: #f1f1eb;
}

ul {
  list-style: none;
  padding-left: 0;
}

.alert {
	margin: 1em auto;
	padding: .5em;
	font-size: 2em;
	color: #fff;
	/* background-color: #aB5976; */
	background-color: #444;
}

.alert a {
	color: #eef;
}

.AjaxLoader {
	margin-top: 2em !important;
}

.Header {
	height: 7em;
	background-color: purple;
	border-bottom: .75em solid white;
	box-shadow: 0px 0px 5px #888888;
	margin-bottom: .5em;
}

.Header-logo {
	display: inline;
	font-size: 4em;
	font-weight: lighter;
	color: white;
	font-family: 'Pacifico', cursive;
	margin: .25em;
}

.Header-input {
	display: inline;
	font-size: 3em;
	border: none;
	border-radius: 5px;
	color: #555;
	text-align: center;
	width: 50%;
}


.u-centered {
	margin: 0 auto;
}

.u-hidden {
	display: none;
}

.u-width-wrapper {
	max-width: 1000px;
	padding: 0 1em;
}


.listing {
	width: 226px;
	display: inline-block;
	margin: .5em;
	border-radius: 5px;
	vertical-align: text-top;
	text-decoration: none;
	color: #444;
}

.listing-image {
	width: 226px;
	height: 226px;
	margin: 0;
}

.listing-image img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
}

.listing-data {
	background-color: white;
	padding: .5em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.listing-data-price {
	font-weight: bold;
	color: #E67E22;
}

.alert {
  text-align: center;
}
